---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}


<h2>Teaching overview</h2>

<p>I deeply enjoy teaching. Interacting with students refills my energy levels and keeps me going. Sharing knowledge with people who want to learn or understand something I know is simply fascinating to me! We all come from different backgrounds and have completely different ways to think. The challenge of connecting my way of understanding something to the students' world is joy and satisfaction to me.</p>

<p>In Kellogg, I've been teaching the Operations Management core class for MBA students. The main focus is on learning key concepts in operations to develop an intuition of what is good operations and how to improve the operations of a company.</p>

<p>Back at William & Mary, I taught Intro to Linear Programming and Intro to Probability and Statistics for undergraduate students, and two Master's level classes on Markov chains and Queueing.</p>


<h2>Courses and materials</h2>
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
